@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-surface: #121212;
  --color-primary: #D4A3A7;
  --color-primary-hover: #C48B9F;
  --color-text-light: #EDEDED;
  --color-text-muted: #A0A0A0;
  --color-light-bg: #F9F8F6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-light);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}